:root{
  --neon-blue:#5390d9;
  --neon-pink:#fd61eb;
  --neon-purple:#c172ef;
  --neon-green:#80ffdb;
  --dark-bg:#010101;
  --darker-bg:#0a0a0a;
  --text-color:#eee;
}



/* Global Styles */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif  ;
  background:rgb(4, 4, 4);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-color);
  overflow-x: hidden;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items:center ;
  background-image: #0e63b8;
  color: white;
  padding: 2rem 5%;
  text-align: center;
position: absolute;
  width: 100%;
  background-color:transparent;
  z-index:1000;
  top:0;
}
/* logo edit */
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, var(--neon-blue), var(--neon-pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(188, 4, 249, 0.3);
}


/* navlink edit */
.nav-links{
  display: flex;
  gap: 2rem;

}

nav  a {
 
  position: relative; /*crucial for the positiooning psuedo elemnt*/
 
  color: var(--text-color);
  text-decoration: none;
  
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: var(--neon-blue);

}


.nav-links a::after{
  content: '';
  position:absolute;
  left:0;
  width:0;
  height: 2px;
  bottom: -5px;
  background: linear-gradient(90deg,var(--neon-blue),var(--neon-pink));
  transform: scaleX(0);
  transition: width 0.3s ease;
}

.nav-links a:hover::after{
  transform: scaleX(1);
  width:100%;
}


/* Section Box */
.hero{
  /* display:flex; */
  /* justify-content: space-between; */
  align-items:center ;
  background-image: url(/images/myphoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:200px 0 300px ;
  padding-top:200px;
}

.hero-content{
  max-width: 600px;
  z-index:2;
  padding-bottom: 20%;

}
.section-title{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align:center;
  position: relative;
  display: inline-block;
  left: 50%;
  transform:translateX(-50%);
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left:0;
  width:100%;
  height:3px;
  background:linear-gradient(90deg,var(--neon-green),var(--neon-pink));
  border-radius: 3px;
}


.hero h1{
  font-size: 3rem;
  margin-bottom:1.5rem ;
  line-height:1.2;
}

.hero h1 span{
  background: linear-gradient(90deg,var(--neon-pink), var(--neon-blue));
  color: transparent;
  background-clip:text ;
  animation: gradientshift 5s ease infinite;
  background-size: 94% 195%;
}



.main-btn{
  display: inline-block;
  padding: 0.8rem 2rem;
  background:linear-gradient(90deg,var(--neon-purple),var(--neon-green));
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0,136,255,0.5);
  position: relative;
  overflow: hidden;
}
.main-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(0,136,255,0.8);
}


.main-btn::before{
  content:'';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: linear-gradient(90deg,transparant,rgba(255,255,255,0.2),transparent);
  transition: 0.5s;
}


.main-btn:hover::before{
  left:100%;
}


section {
  
  background: rgb(15, 15, 15);
  
}

/* Fonts */
h2 span,
p span {
  font-family: 'Sofia', cursive;
  font-size: 26px;
  font-style: italic;
}

/* Images */
 .image-list {
  display: flex;
  margin: 15px 0;
  border-radius: 25px;
  transition: transform 0.3s ease;
  padding-bottom: 20%;
}

 .image-list:hover {
  transform: scale3d(1.05,1.05,1);
  
}
/* anout section  */

.about-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    /*mobile:stack*/
  }
}
.product-list{
  
    justify-content: space-between;
    
    gap: 80px;
    padding: 5rem;
}
.text-list{
  max-width: 600px;
    z-index: 2;
    padding-bottom: 20%;
    padding-top: 5%;
}

.text-list{
  padding-top: 8%;
}
.text-list p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #ccc;
}

/* project section */

#projects {
  padding: 2rem;
  position:relative;
  border-radius: 20px;
  z-index: 8;
  overflow: hidden;
  background-color: #111;

}
#projects::before{
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: linear-gradient(to right, var(--neon-blue), var(--neon-purple),var(--neon-green),#c6f57b);
  background-size: 400% 400%;
  animation: borderLoop 8s linear infinite;
  /* z-index: 0; */
  border-radius: 20px;
  mask:
      linear-gradient(#94eb07 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    box-sizing: border-box;

}


@keyframes borderLoop {
  0%{
    background-position:0% 50%;

  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.product-list {
   /* display: flex; */
 
  gap:30px;
  padding: 1rem;


    
}
.card-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 2rem;
}
.card{
  background:linear-gradient(145deg, #1e1e1e,#2a2a2a);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(213, 243, 114, 0.1);
  width:300px;
  overflow: hidden;
  margin:20px;
  transition:transform 0.4s ease,box-shadow 0.4s ease ;
  /* display: flex; */
  /* flex-direction:column;
  justify-content: space-between; */
  opacity:9;
  transform:translateY(20px);
  animation: fadeInup 0.8s ease forwards;
  animation-delay:0.3s
}


@keyframes fadeInup{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

.card:hover{
  transform:translateY(-10px) scale(1.03);
  box-shadow: 0 0 20px var(--neon-blue);
  border: 2px solid var(--neon-blue);

}

.card-img-top {
  width:100%;
  height: 180px;
  object-fit: cover;
  transition:transform 0.3s ease;
}
.card:hover .card-img-top{
  transform: scale(1.05);
   
}

.card-body{
  padding:15px;
  color:#eee;
}

.card-image{
  background-color:aquamarine
}

.card-title {
  font-size:1.2rem;
  color: var(--neon-blue);
  margin-bottom:10px;
}

.card-text{
  font-size: 0.9rem;
  color:#ccc;
  line-height:1.4;
}


/* Form Styling */
form input,
form textarea {
  width: 90%;
  padding: 0.8rem 1rem;
  margin-bottom: 10px;
  border: 2px solid #0c0c0c;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 100; 
  
 }


 form input:focus,
form textarea:focus {
  border-color:var(--neon-blue);
  box-shadow: 0 0 10px rgba(0,136,255,0.3);
  outline: none;
} 

/* Buttons */
button {
  background: linear-gradient(90deg,var(--neon-green),var(--neon-blue),var(--neon-pink));
  color: rgb(21, 20, 20);
  border: none;
  font-weight: 700;
  max-width: 726px;

  padding: 1rem;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
  
  transform: translatex(3px);
  box-shadow: 0 0 25px rgba(0, 255, 208, 0.5);
  color: #1e1f1e;
}
.form-group{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}

.contact{
  padding:5rem 6% ;
  position:relative ;

}

.contact-form{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  
 

}

/* Footer
footer {
  background: #2c3e50;
  color: rgb(11, 227, 230);
  text-align: center;
  padding: 20px 0;
} */

address{
  text-align: center;
  padding: 5%;
}

address a {
  color: lightblue;
  transform: scale(1.05);
  text-align: left;
  
  margin-left: 2px; ;
 
  
  transition: transform 0.3s ease;
}

address a:hover {
  text-decoration: underline;
  transform: scale(1.1) rotate(1deg);
  
}